* {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.9);
    color: seashell;
    
    
    
    
    
    
}
.header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    
}

.logo {
    height: 50px;
    margin: 10px 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    
    
}

.nav li {
    margin-right: 20px;
    list-style: none;
    
}

.mission { 
    background-image: url('./images/img-mission-background.webp');
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
}

.mission h2, .mission h4 {
    padding: 1rem 1rem; 
    background-color: rgba(0, 0, 0, 0.9);   
    
}
   

        


.cards img {
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.9);

    


}

.tea-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    
    
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 50px;
    
    
}

.box {
    background-image: url(./images/img-locations-background.webp);
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    
      
}

.box h1 {
    text-align: center;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0);
}

.locations {
    display: inline-flex;
    padding-top: 10px;
    gap: 40px;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    
} 

.location {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    position: relative;
    left: 55%;    
    line-height: 2;
    }

    .company-name {
        min-height: 200px;
        line-height: 3.4;
        
    }

    .copyright {
    background-color: rgba(0, 0, 0, 0.9);
    color: seashell;
    padding-left: 10px;
    padding-bottom: 30px;
    
    }


    


  

    

    
    
    
    










    
    
